*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    border: 0px;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

html, body{
    width: 100%;
    height: 100%;
}

html{
    font-size: 16px;
}

.section-overflow-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: auto;
}

#site-wrapper{
    display: flex;
}

#site-header-wrapper{
    z-index: 998;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0px;
    padding: 20px 0 20px 0;
    background: #ffffff;
}

#toggle-nav{
    height: 30px;
    width: 30px;
    /* border: 4px solid #444444;
    border-radius: 100%; */
    /* position: absolute; */
    /* top: 25px; */
    /* left: 20px; */
    background: url('../imgs/ham.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    z-index: 999;
}

#toggle-nav:hover {
  cursor: pointer;
}

#main-site-nav{
    /* border: 1px solid black; */
    z-index: 998;
    width: 0;
    background: linear-gradient( to bottom, #5DC598, #A5D9ED);
    transition: width 0.4s cubic-bezier(.39,.01,.81,.11)
}

#main-site-nav ul {
    display: flex;
    flex-direction: column; 
    padding-top: 100px;
}

#main-site-nav ul li {
    padding: 10px 0px 10px 10%;
    /* transition: transform 0.2s linear; */
}

#main-site-nav ul li:hover{
    /* transform: scale(1.1); */
}

#main-site-nav ul li a{
    display: inline-block;
    color: #ffffff;
    font-size: 1.75rem;
    font-family: 'RobotoCondensed';
    transition: transform 0.2s linear;
}

#main-site-nav ul li a:hover{
    transform: scale(1.2);
}

#fullpage{
    /* border: 1px solid magenta; */
    width: 100%;
    transition: width 0.4s cubic-bezier(.39,.01,.81,.11)
}

.no-content{
    border: 1px solid black; 
    height: 30px;
}

.section{
    height: 100%;
    width: 100%;
}

.fp-tableCell{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.section h2, .section p, .section li{
    text-align: center;
    padding: 20px 150px;
}

.section h2{
    color: #171717;
    font-size: 2.4rem;
    font-family: 'IkaroSans';
    margin-top: 5px;
}

.section p, .section li{
    color: #150505;
    -webkit-text-stroke: 0.5px #707070;
    font-size: 1.3rem;
    font-family: 'RobotoLight';
}

#pattern li, section h4{
    padding: 5px 150px;
    text-align: left;
}

section h4{
    font-family: 'RobotoThinItalic';
    -webkit-text-stroke: black 0.7px;
    font-size: 1.4rem; 
    font-weight: bolder;
    font-style: italic;
}


section a {
    align-self: center;
}

#pattern a, #pattern a:link, #pattern a:visited,
#register a, #register a:link, #register a:visited,
#timeline a, #timeline a:link, #timeline a:visited, #contact h4 a, #contact h4 a:link, #contact h4 a:visited{
    color: #0008FF;
    text-decoration: underline;
    -webkit-text-stroke-color: #0008FF;
    font-style: italic;
}

.big-btn{
    border-radius: 21px;
    background: linear-gradient(to bottom, #5DC598, #77CCB6);
    box-shadow: 0px 3px 6px #d6d6d6;
    color: white;
    font-size: 1.75rem;
    font-family: 'RobotoLight';
    font-weight: bold;
    text-align: center;
    width: auto;
    padding: 25px;
    transition: transform 0.1s linear;
}

.big-btn:hover {
    transform: scale(1.1);
}

.big-btn-wrapper{
    height: 78px;
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

#contact h4 {
  text-align: center;
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem
}

#contact-table-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-table{
    padding: 50px 0px 50px 0px;
    align-self: center;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.contact-cell{
    width: 50%;
    text-align: center;
    font-size: 1.75rem;
    font-family: 'RobotoLight';
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.contact-cell span:first-child {
  font-weight: bold;
  font-size: 1.8rem;
}

.home-flexing-wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-bg {
    /* position: absolute; */
    /* top: 0; */
    /* left: 12%; */
    height: 50vw;
    width: 50vw;
}

.home-bg-fade {
    position: relative;
    height: 100%;
    width: 100%;
    background: url('../imgs/home-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.2s linear;
}

 .circles-wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-circle {
    height: 28vw;
    width: 28vw;
    border-radius: 100%;
}

.circle-left {
    background: linear-gradient(to top, #a5d8ec, rgba(256,256,256,0));
    transform-origin: 40% 40%;
    transition: transform 0.4s cubic-bezier(.39,.01,.81,.11);
}

.circle-right {
    background: linear-gradient(to bottom, #60C69B, rgba(256,256,256,0));
    transform-origin: 60% 60%;
    transition: transform 0.4s cubic-bezier(.39,.01,.81,.11);
}

#home-quote {
  width: 100%;
  position: absolute;
  top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  font-family: 'RobotoLight';
  font-style: italic;
  font-size: 1.5rem;
  -webkit-text-stroke: 0.5px black;
}

#home-quote div {
  width: 52vw;
}

#home-quote .person {
  text-align: right;
}

#non-home-quote {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  z-index: 5;
  font-family: 'RobotoLight';
  font-style: italic;
  font-size: 1.5rem;
  -webkit-text-stroke: 0.5px black;
}

#non-home-quote div {
  margin-left: calc((100% - 52%)/2);
  width: 52%;
}

#non-home-quote .person {
  text-align: right;
}

.title-wrapper {
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'IkaroSans'; */
    /* transition: left 0.4s cubic-bezier(.39,.01,.81,.11) */
}

.title-wrapper .title {
    height: 40vh;
    width: 52vw;
    background: url('../imgs/aarohan-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* .home-title {
    font-family: 'IkaroSans';
    font-size: 25vh;
    font-weight: bold;
    padding: 0;
}

.home-subtitle {
    font-family: 'IkaroSans';
    font-size: 9.5vh;
    font-weight: lighter;
} */

#apogee-title {
    font-family: 'IkaroSans';
    font-weight: bold;
    color: #444444;
    -webkit-text-stroke: #444444 2px;
    letter-spacing: 0.5rem;
    margin-right: 20px;
    font-size: 2.2rem;
    z-index: 999;
}

.scroll {
    position: absolute;
    bottom: 5vh;
    font-family: 'RobotoCondensed';
    font-size: 3vh;
    width: 100%;
    text-align: center;
}

.scroll-nothome-down, .scroll-nothome-up {
    width: 100%;
    text-align: center;
}

.scroll img, .scroll-nothome-down img, .scroll-nothome-up img {
    height: 6vh;
}

.scroll-nothome-up img {
  transform: rotate(180deg);
}

.scroll-nothome-up {
  margin-top: 80px;
}

.less-than-600{
    display: none;
}

#nav-title-aarohan{
    font-size: 5rem;
    font-family: IkaroSans;
}

#nav-subtitle-aarohan{
    font-size: 2rem;
    font-family: IkaroSans;
    font-weight: lighter;
}

#nav-img-bg{
    height: 14rem;
    width: 77%;
    background-image: url('../imgs/title.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#bits-tagline{
    position: absolute; 
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 89px;
    font-family: 'RobotoLight';
    font-weight: bold;
    font-size: 1.8rem;
    transition: padding 0.4s cubic-bezier(.39,.01,.81,.11), opacity 0.3s linear;
}

#bits-tagline-mobile{
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 89px;
    height: 100%;
    font-family: 'IkaroSans';
    font-weight: bolder;
    font-size: 2.5rem;
    -webkit-text-stroke: #000000 1px;
    transition: opacity 0.3s linear;
    opacity: 0;
}

.sponsors {
  height: 20vh;
  width: 15vw;
  position: absolute;
  bottom: 5vh;
}

.sponsor1 {
  background: url('../imgs/sponsor1.svg') no-repeat center;
  left: 10%;
}

.sponsor2 {
  background: url('../imgs/sponsor2.svg') no-repeat center;
  right: 10%;
}

#timeline p{
    padding: 12px 150px; 
    text-align: left;
}

.void {
    height: 30vh;
    color: white;
}