*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    border: 0px;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

html, body{
    width: 100%;
    height: 100%;
}

.section-overflow-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: auto;
}

#site-wrapper{
    display: flex;
}

#toggle-nav{
    height: 50px;
    width: 50px;
    border: 6px solid black;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
}

#main-site-nav{
    border: 1px solid black;
    width: 20%;
    background: linear-gradient( to bottom, #5DC598, #A5D9ED);
}

#main-site-nav ul {
    display: flex;
    flex-direction: column; 
}

#main-site-nav ul li {
    padding: 10px 0px ;
}

#main-site-nav ul li a{
    color: #ffffff;
    font-size: 28px;
    text-decoration: none;
}

#fullpage{
    border: 1px solid magenta;
}