@media all and (max-width : 1200px) {
    html{
        font-size: 14px;
    }
    .section h2, .section p{
        padding: 20px 4%;
    }

    .home-bg {
        height: 90vh;
        width: 90vh;
    }

    .home-circle {
        height: 45vh;
        width: 45vh;
    }

    .title-wrapper .title {
        width: 70vh;
    }

    #apogee-title {
        font-size: 4vw;
    }
}

@media all and (max-width : 992px) {
    .contact-cell{
        font-size: 1.65rem;
    }
}

@media all and (max-width: 768px) {
   html{
       font-size: 12px;
   } 

   .contact-cell{
       font-size: 1.50rem;
   }

   .bb-aarohan{
       font-size: 1.25em !important;
       padding: 20px !important;
   }

   /* .home-bg { */
        /* height: 110vw;
        width: 110vw; */
        /* left: -3vw;
        top: 13%; */
    /* }  */

    /* .circles-wrap { */
        /* height: 54%;
        width: 54%;
        position: absolute;
        left: 20%; */
    /* } */

    .title-wrapper .title{
        /* top: 36%;
        left: 9vw; */
        width: 86vw;
        height: 40vh;
    }
}

@media all and (max-width: 600px) {
    .home-bg {
        height: 110vw;
        width: 110vw;
        /* top: 8vh; */
    }

    #main-site-nav{
        position: absolute;
        height: 100vh;
        width: 100vw;
    }
    #nav-title-img{
        display: flex;
        justify-content: center;
    }

    #nav-title-img img{
        display: flex;
        width : 25rem;
    }

    #apogee-title {
        font-size: 6vw;
        letter-spacing: 4px;
        -webkit-text-stroke: #444444 1px;
    }

    .scroll {
        bottom: 3vh;
    }
/* 
    .circles-wrap {
      height: 60%;
      width: 60%;
    } */

    .less-than-600{
        display: block;
    }

    .more-than-600{
        display: none !important;
    }
}

@media all and (max-width : 480px) {
    html{
        font-size: 10px;
    }

}
    





/*JUST FOR THE BIG BUTTON -- NOT TO BE USED ANYWHERE ELSE IF POSSIBLE*/
@media all and (max-width: 410px){
    .bb-aarohan{
        padding: 10px !important;
        font-size: 1em !important;
    }
}

/*JUST FOR THE CONTACT CELLS -- NOT TO BE USED ANYWHERE ELSE IF POSSIBLE*/
@media all and (max-width: 610px){
    .contact-cell{
        /* font-size: 1.25rem; */
        padding: 5px;
    }
}