@media all and (max-width : 1200px) {
    html{
        font-size: 14px;
    }
    .section h2, .section p, .section li{
        padding: 20px 4%;
    }

    #timeline p{
        padding: 20px 4%;
    }

    #pattern li, section h4{
        padding: 5px 4%;
    }

    .home-bg {
        height: 90vh;
        width: 90vh;
    }

    .home-circle {
        height: 45vh;
        width: 45vh;
    }

    #home-quote div {
      width: 70vh;
    }

    #non-home-quote div {
      margin-left: calc((100*1vw - 70*1vw)/2);
      width: 70vw;
    }

    .title-wrapper .title {
        width: 70vh;
    }
}

@media all and (max-width : 992px) {
    .contact-cell{
        font-size: 1.65rem;
    }

    #bits-tagline {
      font-size: 1.5rem;
    }

    .sponsors {
      width: 20vw;
    }
}

@media all and (max-width: 768px) {
   html{
       font-size: 12px;
   } 

   .contact-cell{
       font-size: 1.50rem;
   }

   .bb-aarohan{
       font-size: 1.25em !important;
       padding: 20px !important;
   }

    #home-quote div {
      width: 86vw;
    }

    #non-home-quote div {
      margin-left: calc((100*1vw - 86*1vw)/2);
      width: 86vw;
    }

    .title-wrapper .title{
        /* top: 36%;
        left: 9vw; */
        width: 86vw;
        height: 40vh;
    }

    #query-form input, #query-form textarea {
      width: 80vw;
    }
}

@media all and (max-width: 600px) {
    .home-bg {
        height: 110vw;
        width: 110vw;
        /* top: 8vh; */
    }

    #toggle-nav{
        height: 22px;
        width: 22px;
        border-bottom-width: 3px;
        margin-left: 10px;
    }

    #main-site-nav{
        position: absolute;
        height: 100vh;
    }
    #nav-title-img{
        display: flex;
        justify-content: center;
    }

    #nav-title-img img{
        display: flex;
        width : 25rem;
    }

    #bits-tagline {
      display: none;
    }

    .scroll {
        bottom: 10vh;
    }

    .scroll-nothome-up {
      margin-top: 35px;
    }

    .sponsors {
        bottom: 0vh;
        width: 25vw;
    }

    #bits-tagline-mobile{
        position: absolute;
        display: flex;
        align-items: center;
        height: auto;
        left: 40px;
        font-family: 'IkaroSans';
        font-weight: lighter;
        font-size: 2rem;
        letter-spacing: 0.3rem;
        text-shadow: 0 1px 2px #b2b2b2;
        opacity: 1;
        padding: 0 0 0 0;
        -webkit-text-stroke: 1.5px;
    }

    #apogee-title {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      -webkit-text-stroke: 1px;
      padding-top: 5px;
      margin-right: 10px;
    }
    
    #site-header-wrapper {
      padding-top: 3px;
      padding-bottom: 10px;
    }
/* 
    .circles-wrap {
      height: 60%;
      width: 60%;
    } */

    .section h2 {
      font-size: 3rem;
      font-weight: lighter;
      -webkit-text-stroke: #171717 1px;
      letter-spacing: 2px;
      padding-top:15px;
    }
    
    .section p, .section li {
      font-size: 1.5rem;
      padding: 20px 4% 0 4%
    }

    .section h4 {
      font-size: 2rem;
    }
    .less-than-600{
        display: block;
    }

    #pattern-img-container img {
      width: 86vw;
    }

    .void {
      height: 20vh;
      color: white;
    }

    .contact-table {
      padding-top: 25px;
    }

    .contact-cell {
      width: 80%
    }
}

@media all and (max-width : 480px) {
    html{
        font-size: 10px;
    }

}
    





/*JUST FOR THE BIG BUTTON -- NOT TO BE USED ANYWHERE ELSE IF POSSIBLE*/
@media all and (max-width: 410px){
    .bb-aarohan{
        padding: 10px !important;
        font-size: 1em !important;
    }
}

/*JUST FOR THE CONTACT CELLS -- NOT TO BE USED ANYWHERE ELSE IF POSSIBLE*/
@media all and (max-width: 610px){
    .contact-cell{
        /* font-size: 1.25rem; */
        padding: 5px;
    }
}

@media all and (max-width: 372px){
    #pattern a {
        font-size: 1.4rem
    }
}